* {
	box-sizing: border-box;
	line-height: 1.5;
}

body {
	margin: 0;
}

#root {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
}

/*************** ADMIN CONTAINER **********************/

#HomeContainer {
	position: relative;
	min-height: 50vh;
}

#HomeContainer article {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	margin: 10vh 0;
}

#HomeContainer p {
	width: 20vw;
}

#HomeContainer img {
	width: 10vw;
	height: auto;
}

#HomeContainer div {
	width: 1vw;
	height: 80%;
	background-color: black;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
}

/*************** ADMIN CONTAINER **********************/

#AdminContainer article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: auto;
}

#AdminContainer ul {
	padding-left: 0;
	list-style-type: none;
	width: 80%;
}

#AdminContainer li {
	display: flex;
	justify-content: space-between;
}

#AdminContainer .icon-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#AdminContainer img {
	max-width: 5vw;
	margin: 10px 0;
}
